WcfBooksClient/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/booksdal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/booksdal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="book">
    <xs:sequence>
      <xs:element minOccurs="0" name="authorname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="publishername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="book" nillable="true" type="tns:book" />
</xs:schema>